<!-- 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="styles\main.css" />
  </head>
  <body>
    <div class="container">
      <div class="grid-item">Grid1</div>
      <div class="grid-item">Grid2</div>
      <div class="grid-item">Grid3</div>
      <div class="grid-item">Grid4</div>
      <div class="grid-item">Grid5</div>
      <div class="grid-item">Grid6</div>
      <div class="grid-item">Grid7</div>
      <div class="grid-item">Grid8</div>
    </div>
  </body>
</html> -->




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>WeatherNow</title>
</head>

<body>
  <div class="top-container">
    <form action="/" method="post" class="form-input">
      <input type="text" name="location" id="location" placeholder="Location" class="input-field rounded-border" />
      <button type="submit" class="input-btn rounded-border">Add</button>
    </form>
  </div>
  <div class="container">
    <% if(locals.data) { %>
      <% data.forEach(location => { %>
        <%- location %>
      <% }); %>
    <% } %>
  </div>
</body>

</html>